//변수 
//Font Weight
$bold: 700;
$semiBold: 600;
$medium: 500;
$light: 300;

//Colors
$red: #CF0A2C;

//Font Sizes
$size28: 1.75rem;
$size24: 1.5rem;
$size18: 1.125rem;
$size15: 0.938rem;
$size14: 0.875rem;
$size13: 0.813rem;
$size12: 0.75rem;
$size11: 0.688rem;
$size10: 0.625rem;


//mixin
@mixin margin-auto {
    margin: 0 auto;
}

@mixin width1500 {
    width: 1500px;
}

@mixin flex-row {
    display: flex;
    flex-flow: row nowrap;
    
}
@mixin flex-col {
    display: flex;
    flex-flow: column nowrap;
}

@mixin title_h1 {
    font-size: 3rem; /* 48px */
    font-weight: 700; /* bold */
    line-height: 100%;
    letter-spacing: -0.02em;
}

@mixin product_title {
    font-weight: 700; /* bold */
    line-height: 100%;
    letter-spacing: -0.02em;
    font-size: 1.125rem;/* 18px */
}
@mixin product_price {
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
}
@mixin product_size {
    line-height: 100%;
    letter-spacing: -0.02em;
    font-size: 0.75rem; /* 12px */
    color: #7D7C7C;
}
@mixin section_name {
    line-height: 100%;
    letter-spacing: -0.02em;
    font-size: 0.875rem; /* 14px */
}

@mixin product_type {
    color: #5F5F5F;
}

@mixin product_review {
    line-height: 100%;
    letter-spacing: -0.02em;
    font-size: 0.688rem;
}

//Buttons
@mixin age_btn {
    width: 143px; height: 42px;
    background-color: #F5F5F5;
    text-align: center;
    padding: 14px 18px;
    border-radius: 5px;
}
@mixin age_active_btn {
    width: 143px; height: 42px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 14px 18px;
}
@mixin swatch {
    width: 18px; height: 18px;
    border-radius: 50%;
}
@mixin filter_btn {
    width: max-content; height: 33px;
    background-color: #F5F5F5;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
}
@mixin filter_btn_active {
    width: 74px; height: 33px;
    background-color: #000000;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
}
@mixin size_btn_unact {
    font-size: $size12;
    padding: 10px 20px;
    border-radius: 5px;
}
@mixin size_btn_selected {
    font-size: $size12;
    padding: 10px 20px;
    border: 2px solid $red;
    border-radius: 5px;
}
@mixin size_btn_unav {
    font-size: $size12;
    padding: 10px 20px;
    background-color: #F5F5F5;
    color: #A0A0A0;
    border-radius: 5px;
}

@mixin cart_btn {
    width: 150px; height: 60px;
    padding: 10px 20px;
    border: 2px solid #A0A0A0;
    border-radius: 5px;
}

@mixin buy_btn {
    width: 220px; height: 60px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $red;
    color: #fff;
}

//Background Image
@mixin background_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

//Break Line
@mixin break-line {
    border-bottom: 1px solid #F5F5F5;
    padding: 20px 0;
}

//Footer
@mixin footer_text {
    color: #fff;

}
@mixin footer_title {
    font-weight: $bold;
    font-size: 1.25rem;
}