@charset "UTF-8";
body {
  max-width: 1920px;
  margin: 0 auto;
}
body header {
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
  padding: 35px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
body header .left_gnb {
  width: 350px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
body header .left_gnb { /* logo */ }
body header .left_gnb a {
  font-weight: 700;
}
body header .left_gnb a:hover {
  color: #CF0A2C;
}
body header .right_gnb {
  width: 180px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
body header .right_gnb a:hover {
  transform: scale(1.2);
  transition: linear;
}
body header .right_gnb a:hover::after {
  border-bottom: 0.7px solid #CF0A2C;
}
body .page-home .main_bnr_swiper_box {
  max-width: 100vw;
}
body .page-home .main_bnr_swiper_box #main_bnr_swiper {
  width: 100%;
  height: 864px;
}
body .page-home .main_bnr_swiper_box #main_bnr_swiper .swiper-wrapper .swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .page-home .main_bnr_swiper_box #main_bnr_swiper .swiper-wrapper .slide1 {
  background-image: url(../image/banner_main_001.png);
}
body .page-home .main_bnr_swiper_box #main_bnr_swiper .swiper-wrapper .slide2 {
  background-image: url(../image/banner_main_002.jpg);
}
body .page-home .main_bnr_swiper_box #main_bnr_swiper .swiper-wrapper .slide3 {
  background-image: url(../image/banner_main_003.jpg);
}
body .page-home .main_bnr_swiper_box #main_bnr_swiper .swiper-wrapper .slide4 {
  background-image: url(../image/banner_main_004.jpg);
}
body .page-home .shop_by_age {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  padding: 100px 0;
}
body .page-home .shop_by_age h1 a {
  font-size: 3rem; /* 48px */
  font-weight: 700; /* bold */
  line-height: 100%;
  letter-spacing: -0.02em;
}
body .page-home .shop_by_age .age_btn {
  display: flex;
  flex-flow: row nowrap;
  gap: 14px;
}
body .page-home .shop_by_age .age_btn .active_btn {
  width: 143px;
  height: 42px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 14px 18px;
}
body .page-home .shop_by_age .age_btn button {
  font-size: 0.875rem;
  width: 143px;
  height: 42px;
  background-color: #F5F5F5;
  text-align: center;
  padding: 14px 18px;
  border-radius: 5px;
}
body .page-home .shop_by_age .age_wrap {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}
body .page-home .shop_by_age .age_wrap .model_img {
  width: 598px;
  height: 598px;
}
body .page-home .shop_by_age .age_wrap .model_img .img {
  height: 100%;
  width: 100%;
  background-image: url(../image/age_model_001.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .page-home .shop_by_age .age_wrap #age_swiper {
  margin: 0;
  width: calc(100% - 638px);
}
body .page-home .shop_by_age .age_wrap #age_swiper .swiper-wrapper .product_card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 10px;
}
body .page-home .shop_by_age .age_wrap #age_swiper .swiper-wrapper .product_card a {
  display: block;
  overflow: hidden;
  /* так как это свайпер задавать ширину и высоту не надо */
}
body .page-home .shop_by_age .age_wrap #age_swiper .swiper-wrapper .product_card a img {
  width: 100%;
}
body .page-home .shop_by_age .age_wrap #age_swiper .swiper-wrapper .product_card .product_info {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
body .page-home .shop_by_age .age_wrap #age_swiper .swiper-wrapper .product_card .product_info .product_title {
  font-weight: 700; /* bold */
  line-height: 100%;
  letter-spacing: -0.02em;
  font-size: 1.125rem; /* 18px */
}
body .page-home .shop_by_age .age_wrap #age_swiper .swiper-wrapper .product_card .product_info .product_price {
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.02em;
}
body .page-home .shop_by_age .age_wrap #age_swiper .swiper-wrapper .product_card .product_info .product_size {
  line-height: 100%;
  letter-spacing: -0.02em;
  font-size: 0.75rem; /* 12px */
  color: #7D7C7C;
}
body .page-home .shop_by_age .age_wrap #age_swiper .swiper-wrapper .product_card .product_color {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}
body .page-home .shop_by_age .age_wrap #age_swiper .swiper-wrapper .product_card .product_color .color_swatch {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
body .page-home .shop_by_age .age_wrap #age_swiper .swiper-wrapper .product_card .product_color .black {
  background-color: #1C1C1C;
}
body .page-home .shop_by_age .age_wrap #age_swiper .swiper-wrapper .product_card .product_color .beige {
  background-color: #E6E7E1;
}
body .page-home .shop_by_age .age_wrap #age_swiper .swiper-wrapper .product_card .product_color .gray {
  background-color: #616773;
}
body .page-home .shop_by_age .age_wrap #age_swiper .swiper-wrapper .product_card .product_color .brown {
  background-color: #A09488;
}
body .page-home .style_carousel {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  width: 100%;
  max-width: 1500px;
  /* @include width1500; */
  /* background image */
}
body .page-home .style_carousel .bnr_wrap {
  padding: 20px;
  width: 100%;
  height: 644px;
  background-image: url(../image/style_carousel_bnr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
body .page-home .style_carousel .bnr_wrap p {
  font-weight: 700;
  font-size: 2.563rem;
}
body .page-home .style_carousel .bnr_wrap .small_product {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}
body .page-home .style_carousel .bnr_wrap .small_product a {
  border: 1px solid #A0A0A0;
  overflow: hidden;
  border-radius: 5px;
  display: inline-block;
  width: 100px;
  height: 100px;
}
body .page-home .style_carousel .bnr_wrap .small_product a:hover {
  border: 1px solid #CF0A2C;
}
body .page-home .style_carousel .bnr_wrap .small_product .product1 img {
  width: 100%;
}
body .page-home .style_carousel .bnr_wrap .small_product .product2 img {
  width: 100%;
}
body .page-home .style_carousel .bnr_wrap .small_product .product3 img {
  width: 100%;
}
body .page-home .style_carousel .bnr_wrap .small_product .product4 img {
  width: 100%;
}
body .page-home .trending {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  padding: 130px 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}
body .page-home .trending h1 a {
  font-size: 3rem; /* 48px */
  font-weight: 700; /* bold */
  line-height: 100%;
  letter-spacing: -0.02em;
}
body .page-home .trending .filter_menu {
  padding: 0 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
body .page-home .trending .filter_menu .left_filter {
  display: flex;
  gap: 15px;
  font-weight: 600;
}
body .page-home .trending .filter_menu .left_filter .filter_title:hover {
  color: #CF0A2C;
}
body .page-home .trending .filter_menu .right_filter a:hover {
  color: #CF0A2C;
}
body .page-home .trending .trend_swiper_wrap {
  position: relative;
  display: flex;
  gap: 20px;
}
body .page-home .trending .trend_swiper_wrap #trend_swiper {
  /* display: flex;
  gap: 20px; */
  margin: 0;
}
body .page-home .trending .trend_swiper_wrap #trend_swiper .swiper-wrapper .swiper-slide .trend_product {
  /* width: 230px; height: 230px; */
  position: relative;
}
body .page-home .trending .trend_swiper_wrap #trend_swiper .swiper-wrapper .swiper-slide .trend_product .trend_product_img {
  width: 100%;
}
body .page-home .trending .trend_swiper_wrap #trend_swiper .swiper-wrapper .swiper-slide .trend_product .img_icons {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
body .page-home .trending .trend_swiper_wrap #trend_swiper .swiper-wrapper .swiper-slide .trend_product .img_icons .cart_btn {
  width: 20px;
  height: 20px;
}
body .page-home .trending .trend_swiper_wrap #trend_swiper .swiper-wrapper .swiper-slide .trend_product .img_icons .cart_btn img {
  width: 100%;
}
body .page-home .trending .trend_swiper_wrap #trend_swiper .swiper-wrapper .swiper-slide .trend_card_details {
  /* width: 320px; height: 111px; */
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  gap: 11px;
}
body .page-home .trending .trend_swiper_wrap #trend_swiper .swiper-wrapper .swiper-slide .trend_card_details .product_title {
  font-weight: 700; /* bold */
  line-height: 100%;
  letter-spacing: -0.02em;
  font-size: 1.125rem; /* 18px */
}
body .page-home .trending .trend_swiper_wrap #trend_swiper .swiper-wrapper .swiper-slide .trend_card_details .product_type {
  color: #5F5F5F;
}
body .page-home .trending .trend_swiper_wrap #trend_swiper .swiper-wrapper .swiper-slide .trend_card_details .product_price {
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.02em;
}
body .page-home .trending .trend_swiper_wrap #trend_swiper .swiper-scrollbar-horizontal {
  margin-top: 30px;
}
body .page-home .trending .trend_swiper_wrap #trend_swiper .swiper-scrollbar-drag {
  background-color: #BCB9B9;
}
body .page-home .trending .trend_swiper_wrap .swiper-scrollbar {
  position: absolute;
  bottom: -20px;
}
body .page-home .trending .trend_swiper_wrap .swiper-scrollbar .swiper-scrollbar-drag {
  color: #CF0A2C;
}
body .page-home .playground_shoe {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
}
body .page-home .playground_shoe .bnr_wrap {
  padding-top: 50%;
  width: 100%;
  background-image: url(../image/playground_shoe_bnr.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
body .page-home .playground_shoe .bnr_wrap span {
  position: absolute;
  bottom: 20px;
  right: 25px;
  font-size: 2.375rem;
  font-weight: 700;
  text-align: right;
}
body .page-home .playground_shoe .bnr_wrap span em {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
body .page-home .style_stories {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  padding-top: 150px;
}
body .page-home .style_stories h1 {
  padding-bottom: 30px;
}
body .page-home .style_stories h1 a {
  font-size: 3rem; /* 48px */
  font-weight: 700; /* bold */
  line-height: 100%;
  letter-spacing: -0.02em;
}
body .page-home .style_stories .style_swiper_wrap #stylestory_swiper {
  width: 100%;
}
body .page-home .style_stories .style_swiper_wrap #stylestory_swiper .swiper-wrapper .swiper-slide {
  width: auto; /* добавила */
  display: flex; /* добавила */
  flex-direction: column; /* добавила */
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
}
body .page-home .style_stories .style_swiper_wrap #stylestory_swiper .swiper-wrapper .swiper-slide .style_image {
  /* width: 475px; height: 510px; */ /* ломает адаптивность */
  width: 100%;
  min-height: 510px; /* высота картинок, нужна чтобы картинки показывались, так как сам по себе див пустой */
  max-width: 475px;
}
body .page-home .style_stories .style_swiper_wrap #stylestory_swiper .swiper-wrapper .swiper-slide .style_image a {
  overflow: hidden;
  display: inline-block;
}
body .page-home .style_stories .style_swiper_wrap #stylestory_swiper .swiper-wrapper .swiper-slide .style_image a img {
  width: 100%;
}
body .page-home .style_stories .style_swiper_wrap #stylestory_swiper .swiper-wrapper .swiper-slide .style_card_content {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
}
body .page-home .style_stories .style_swiper_wrap #stylestory_swiper .swiper-wrapper .swiper-slide .style_card_content .style_title {
  font-weight: 700; /* bold */
  line-height: 100%;
  letter-spacing: -0.02em;
  font-size: 1.125rem; /* 18px */
}
body .page-home .style_stories .style_swiper_wrap #stylestory_swiper .swiper-wrapper .swiper-slide .style_card_content .style_subtitle {
  font-weight: 700; /* bold */
  line-height: 100%;
  letter-spacing: -0.02em;
  font-size: 1.125rem; /* 18px */
  font-weight: normal;
}
body .page-home .style_stories .style_swiper_wrap #stylestory_swiper .swiper-wrapper .swiper-slide .style_card_content .style_price {
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.02em;
}
body .page-home .style_stories .style_swiper_wrap #stylestory_swiper .swiper-wrapper .swiper-slide .style_card_content .style_size {
  line-height: 100%;
  letter-spacing: -0.02em;
  font-size: 0.75rem; /* 12px */
  color: #7D7C7C;
}
body .page-home .style_stories .style_swiper_wrap #stylestory_swiper .swiper-wrapper .swiper-slide .style_thumbnail {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
body .page-home .style_stories .style_swiper_wrap #stylestory_swiper .swiper-wrapper .swiper-slide .style_thumbnail .style_small {
  display: block;
  width: 25%;
  border: 1px solid #A0A0A0;
  border-radius: 5px;
  overflow: hidden;
  /* background-image: url('../image/style01_small_01.png');
  @include background_img; */
}
body .page-home .style_stories .style_swiper_wrap #stylestory_swiper .swiper-wrapper .swiper-slide .style_thumbnail .style_small:hover {
  border: 1px solid #CF0A2C;
}
body .page-home .style_stories .style_swiper_wrap #stylestory_swiper .swiper-wrapper .swiper-slide .style_thumbnail .style_small img {
  width: 100%;
}
body .page-home .style_stories .style_swiper_wrap #stylestory_swiper .swiper-wrapper .story1 a .style_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../image/style_story_001.png);
}
body .page-home .style_stories .style_swiper_wrap #stylestory_swiper .swiper-wrapper .story2 a .style_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../image/style_story_002.png);
}
body .page-home .style_stories .style_swiper_wrap #stylestory_swiper .swiper-wrapper .story3 a .style_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../image/style_story_003.png);
}
body .page-home .style_stories .style_swiper_wrap #stylestory_swiper .swiper-wrapper .story4 a .style_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../image/style_story_001.png);
}
body .page-home .find_their_style {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  padding-top: 100px;
}
body .page-home .find_their_style h1 a {
  font-size: 3rem; /* 48px */
  font-weight: 700; /* bold */
  line-height: 100%;
  letter-spacing: -0.02em;
}
body .page-home .find_their_style .find_their_style_wrap {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  padding-top: 30px;
}
body .page-home .find_their_style .find_their_style_wrap .style_filters {
  display: inline-block;
  width: 233px;
}
body .page-home .find_their_style .find_their_style_wrap .style_filters h2 {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: -0.02em;
}
body .page-home .find_their_style .find_their_style_wrap .style_filters .style_filters_list {
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
body .page-home .find_their_style .find_their_style_wrap .style_filters .style_filters_list li a {
  font-weight: 500;
  display: block;
  white-space: nowrap;
}
body .page-home .find_their_style .find_their_style_wrap .style_filters .style_filters_list li a:hover {
  color: #CF0A2C;
}
body .page-home .find_their_style .find_their_style_wrap .card_content_wrap {
  display: flex;
  flex-flow: row nowrap;
  gap: 50px;
}
body .page-home .find_their_style .find_their_style_wrap .card_content_wrap .card_content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
body .page-home .find_their_style .find_their_style_wrap .card_content_wrap .card_content .style_card_row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body .page-home .find_their_style .find_their_style_wrap .card_content_wrap .card_content .style_card_row .style_cards .filter_card_img {
  position: relative;
  width: 220px;
  height: 220px;
  transition: transform 0.3 ease;
}
body .page-home .find_their_style .find_their_style_wrap .card_content_wrap .card_content .style_card_row .style_cards .filter_card_img:hover {
  transform: scale(1.01);
}
body .page-home .find_their_style .find_their_style_wrap .card_content_wrap .card_content .style_card_row .style_cards .filter_card_img img {
  width: 100%;
}
body .page-home .find_their_style .find_their_style_wrap .card_content_wrap .card_content .style_card_row .style_cards .filter_card_img .like_btn {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 10px;
  right: 35px;
}
body .page-home .find_their_style .find_their_style_wrap .card_content_wrap .card_content .style_card_row .style_cards .filter_card_img .cart_btn {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
body .page-home .find_their_style .find_their_style_wrap .card_content_wrap .card_content .style_card_row .style_cards .filter_card_info {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  padding: 20px;
}
body .page-home .find_their_style .find_their_style_wrap .card_content_wrap .card_content .style_card_row .style_cards .filter_card_info h2 .product_title {
  font-size: 1rem;
  font-weight: 600;
  font-weight: 700; /* bold */
  line-height: 100%;
  letter-spacing: -0.02em;
}
body .page-home .find_their_style .find_their_style_wrap .card_content_wrap .card_content .style_card_row .style_cards .filter_card_info h2 .product_title:hover {
  color: #CF0A2C;
}
body .page-home .find_their_style .find_their_style_wrap .card_content_wrap .card_content .style_card_row .style_cards .filter_card_info .product_size {
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-size: 0.75rem; /* 12px */
  color: #7D7C7C;
}
body .page-home .find_their_style .find_their_style_wrap .card_content_wrap .card_content .style_card_row .style_cards .filter_card_info .product_price {
  font-weight: 700;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.02em;
}
body .page-home .find_their_style .find_their_style_wrap .card_content_wrap .find_photo {
  max-width: 480px;
  min-width: 300px;
  width: 100%;
}
body .page-home .find_their_style .find_their_style_wrap .card_content_wrap .find_photo img {
  width: 100%;
  height: auto;
  display: block;
}
body .page-home .our_stores {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  padding: 80px 0;
}
body .page-home .our_stores h1 a {
  font-size: 3rem; /* 48px */
  font-weight: 700; /* bold */
  line-height: 100%;
  letter-spacing: -0.02em;
}
body .page-home .our_stores .stores_wrap {
  padding: 30px 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body .page-home .our_stores .stores_wrap .store {
  width: 450px;
  height: 463px;
  position: relative;
  z-index: 99;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .page-home .our_stores .stores_wrap .store h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  line-height: 130%;
  letter-spacing: -0.02em;
  font-size: clamp(1.25rem, 2vw, 2.25rem); /* лучше всего для шрифтов: задаем диапазон */
  color: #fff;
  font-family: "Noto Serif KR";
  white-space: nowrap;
}
body .page-home .our_stores .stores_wrap .store1 {
  background-image: url(../image/store_img_001.png);
}
body .page-home .our_stores .stores_wrap .store2 {
  background-image: url(../image/store_img_002.png);
}
body .page-home .our_stores .stores_wrap .store3 {
  background-image: url(../image/store_img_003.png);
}
body footer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: max-content;
  gap: 30px;
  background-color: #232323;
  color: #fff;
}
body footer .footer_top {
  padding: 40px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1500px;
  width: 100%;
}
body footer .footer_top .top_menu a {
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
body footer .footer_top .top_menu a .menu_title {
  font-weight: 700;
  font-size: 1.25rem;
}
body footer .footer_btm {
  padding: 0 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  width: 100%;
}
body footer .footer_btm .detailed_menu {
  width: 511px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
body footer .footer_btm .detailed_menu .menu_list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
body footer .footer_btm .detailed_menu .menu_list .list_title {
  font-weight: 700;
  font-size: 1.25rem;
}
body footer .footer_btm .detailed_info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
}
body footer .footer_btm .detailed_info .sns_box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
body footer .footer_btm .detailed_info .sns_box a:not(.naver_blog) {
  display: inline-block;
  width: 22px;
  height: 22px;
}
body footer .footer_btm .detailed_info .sns_box .naver_blog {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #fff;
  font-size: 0.688rem;
  padding: 0 10px;
}
body footer .footer_btm .detailed_info .sns_box .naver_blog img {
  width: 22px;
  height: 22px;
  display: block;
}
body footer .footer_btm .detailed_info .sns_box .naver_blog span {
  white-space: nowrap;
}
body footer .footer_btm .detailed_info .company_info {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
body footer .footer_btm .detailed_info .company_info p a {
  color: #fff;
}
body footer .footer_btm .detailed_info .company_biz {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
body footer .footer_btm .detailed_info .info_security {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
body footer .footer_btm .detailed_info .info_security span a {
  color: #fff;
}
body footer .footer_btm .detailed_info .certification {
  margin-top: 15px;
  display: flex;
  flex-flow: row nowrap;
  gap: 25px;
  justify-content: flex-start;
  align-items: center;
}
body footer .footer_btm .detailed_info .copyright {
  margin-top: 15px;
  font-size: 0.875rem;
  color: #545454;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}
body .page-list {
  margin: 0 auto;
  width: 1500px;
}
body .page-list .trending_title_filter h1 {
  font-size: 3rem; /* 48px */
  font-weight: 700; /* bold */
  line-height: 100%;
  letter-spacing: -0.02em;
}
body .page-list .trending_title_filter .product_filters {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  padding: 30px 0;
}
body .page-list .trending_title_filter .product_filters button {
  width: max-content;
  height: 33px;
  background-color: #F5F5F5;
  text-align: center;
  border-radius: 5px;
  padding: 10px 20px;
}
body .page-list .trending_title_filter .product_filters .active_filter {
  width: 74px;
  height: 33px;
  background-color: #000000;
  text-align: center;
  border-radius: 5px;
  padding: 10px 20px;
}
body .page-list .trending_title_filter p {
  font-size: 1.125rem;
  margin-bottom: 30px;
}
body .page-list .trending_title_filter p em {
  font-weight: 700;
}
body .page-list .product_wrap {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}
body .page-list .product_wrap .wrap_row {
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
}
body .page-list .product_wrap .wrap_row .model_ad {
  width: 350px;
  height: 560px;
}
body .page-list .product_wrap .wrap_row .model_ad img {
  width: 100%;
}
body .page-list .product_wrap .wrap_row .product_card {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
body .page-list .product_wrap .wrap_row .product_card .product_img {
  width: 350px;
  height: 350px;
}
body .page-list .product_wrap .wrap_row .product_card .product_img a {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .page-list .product_wrap .wrap_row .product_card .product_img .card1 {
  background-image: url(../image/product_list_001.png);
}
body .page-list .product_wrap .wrap_row .product_card .product_img .card2 {
  background-image: url(../image/product_list_002.png);
}
body .page-list .product_wrap .wrap_row .product_card .product_img .card3 {
  background-image: url(../image/product_list_003.png);
}
body .page-list .product_wrap .wrap_row .product_card .product_img .card4 {
  background-image: url(../image/product_list_004.png);
}
body .page-list .product_wrap .wrap_row .product_card .product_img .card5 {
  background-image: url(../image/product_list_005.png);
}
body .page-list .product_wrap .wrap_row .product_card .product_img .card6 {
  background-image: url(../image/product_list_006.png);
}
body .page-list .product_wrap .wrap_row .product_card .product_img .card7 {
  background-image: url(../image/product_list_001.png);
}
body .page-list .product_wrap .wrap_row .product_card .product_img .card8 {
  background-image: url(../image/product_list_001.png);
}
body .page-list .product_wrap .wrap_row .product_card .product_img .card9 {
  background-image: url(../image/product_list_002.png);
}
body .page-list .product_wrap .wrap_row .product_card .product_img .card10 {
  background-image: url(../image/product_list_003.png);
}
body .page-list .product_wrap .wrap_row .product_card .product_img .card11 {
  background-image: url(../image/product_list_004.png);
}
body .page-list .product_wrap .wrap_row .product_card .product_img .card12 {
  background-image: url(../image/product_list_005.png);
}
body .page-list .product_wrap .wrap_row .product_card .product_img .card13 {
  background-image: url(../image/product_list_006.png);
}
body .page-list .product_wrap .wrap_row .product_card .product_img .card14 {
  background-image: url(../image/product_list_001.png);
}
body .page-list .product_wrap .wrap_row .product_card .product_info {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
body .page-list .product_wrap .wrap_row .product_card .product_info .title_review {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
body .page-list .product_wrap .wrap_row .product_card .product_info .title_review .product_title {
  font-weight: 700; /* bold */
  line-height: 100%;
  letter-spacing: -0.02em;
  font-size: 1.125rem; /* 18px */
}
body .page-list .product_wrap .wrap_row .product_card .product_info .title_review .review_icon {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
  line-height: 14px;
}
body .page-list .product_wrap .wrap_row .product_card .product_info .title_review .review_icon img {
  width: 14px;
}
body .page-list .product_wrap .wrap_row .product_card .product_info .title_review .review_icon .review_small {
  line-height: 100%;
  letter-spacing: -0.02em;
  font-size: 0.688rem;
}
body .page-list .product_wrap .wrap_row .product_card .product_info .type_price {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
body .page-list .product_wrap .wrap_row .product_card .product_info .type_price .product_type {
  color: #5F5F5F;
}
body .page-list .product_wrap .wrap_row .product_card .product_info .type_price .product_price {
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.02em;
}
body .page-list .product_wrap .wrap_row .product_card .product_color {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}
body .page-list .product_wrap .wrap_row .product_card .product_color .color_swatch {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
body .page-list .product_wrap .wrap_row .product_card .product_color .black {
  background-color: #1C1C1C;
}
body .page-list .product_wrap .wrap_row .product_card .product_color .beige {
  background-color: #E6E7E1;
}
body .page-list .product_wrap .wrap_row .product_card .product_color .gray {
  background-color: #616773;
}
body .page-list .product_wrap .wrap_row .product_card .product_color .brown {
  background-color: #A09488;
}
body .page-list .product_wrap .wrap_row .product_card .product_color .darkBlue {
  background-color: #3D4F73;
}
body .page-list .product_wrap .row1 .model_ad img {
  width: 100%;
}
body .page-list .product_wrap .pagination {
  padding: 50px 0;
  text-align: center;
}
body .page-list .product_wrap .pagination a {
  color: #BEBEBE;
}
body .page-list .product_wrap .pagination .pagination_active {
  color: #3A3A3A;
  font-weight: 600;
}

body .page-details {
  margin: 0 auto;
  width: 1500px;
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 100px;
}
body .page-details .product_left_wrap {
  width: 890px;
}
body .page-details .product_left_wrap .product_image_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
body .page-details .product_left_wrap .product_image_container .product_thumbnail {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
body .page-details .product_left_wrap .product_image_container .product_thumbnail .thumbnail_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
}
body .page-details .product_left_wrap .product_image_container .product_thumbnail .thumbnail1 {
  background-image: url(../image/product_thum_001.png);
}
body .page-details .product_left_wrap .product_image_container .product_thumbnail .thumbnail2 {
  background-image: url(../image/product_thum_002.png);
}
body .page-details .product_left_wrap .product_image_container .product_thumbnail .thumbnail3 {
  background-image: url(../image/product_thum_003.png);
}
body .page-details .product_left_wrap .product_image_container .product_thumbnail .thumbnail4 {
  background-image: url(../image/product_thum_004.png);
}
body .page-details .product_left_wrap .product_image_container .product_thumbnail .thumbnail5 {
  background-image: url(../image/product_thum_005.png);
}
body .page-details .product_left_wrap .product_image_container .product_big_img {
  width: 580px;
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .page-details .product_left_wrap .product_image_container .product_big_img .product_main_img {
  width: 100%;
  height: 100%;
  background-image: url(../image/product_thum_001.png);
}
body .page-details .product_left_wrap .product_info_container .sticky_menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
  background-color: #fff;
  width: 90%;
  height: 52px;
  position: sticky;
  top: 100px; /* надо перепроверить как это работает возможно проблема в родителе */
}
body .page-details .product_left_wrap .product_info_container .sticky_menu a {
  text-align: center;
  padding: 10px 0;
  width: 200px;
  font-size: 0.875rem;
}
body .page-details .product_left_wrap .product_info_container .sticky_menu a:hover {
  border-bottom: 2px solid black;
}
body .page-details .product_left_wrap .product_info_container .product_info {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;
}
body .page-details .product_left_wrap .product_info_container .product_info .info_details_img {
  background-image: url(../image/info_details.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 8500px;
}
body .page-details .product_left_wrap .product_info_container .product_size {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;
}
body .page-details .product_left_wrap .product_info_container .product_size .size_details_img {
  background-image: url(../image/size_info.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1200px;
}
body .page-details .product_right_wrap {
  width: calc(100% - 920px);
}
body .page-details .product_right_wrap .product_details_container {
  position: sticky;
  top: 120px;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  height: 80vh;
  overflow-y: auto;
  padding-right: 50px;
}
body .page-details .product_right_wrap .product_details_container::-webkit-scrollbar {
  width: 4px;
}
body .page-details .product_right_wrap .product_details_container::-webkit-scrollbar-thumb {
  background: #E2E2E2;
  border-radius: 4px;
}
body .page-details .product_right_wrap .product_details_container::-webkit-scrollbar-thumb:hover {
  background: rgba(207, 10, 44, 0.3);
}
body .page-details .product_right_wrap .product_details_container::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 4px;
}
body .page-details .product_right_wrap .product_details_container .path {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
body .page-details .product_right_wrap .product_details_container .path a {
  font-size: 0.813rem;
  font-weight: 300;
  color: #7E7E7E;
  position: relative;
}
body .page-details .product_right_wrap .product_details_container .path a:nth-child(2) {
  padding: 0 10px;
}
body .page-details .product_right_wrap .product_details_container .path a:nth-child(2)::before {
  display: block;
  position: absolute;
  content: ">";
  top: 0;
  left: 0;
  right: auto;
  color: #7E7E7E;
  font-size: 0.813rem;
  font-weight: 300;
}
body .page-details .product_right_wrap .product_details_container .path a:nth-child(2)::after {
  display: block;
  position: absolute;
  content: ">";
  top: 0;
  right: 0;
  left: auto;
  color: #7E7E7E;
  font-size: 0.813rem;
  font-weight: 300;
}
body .page-details .product_right_wrap .product_details_container .membership_info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
body .page-details .product_right_wrap .product_details_container .membership_info .membership_icon {
  width: 22px;
  height: 10px;
}
body .page-details .product_right_wrap .product_details_container .membership_info .membership_text {
  font-size: 0.688rem;
  font-weight: 300;
  color: #696969;
}
body .page-details .product_right_wrap .product_details_container .membership_info .popup_icon {
  width: 14px;
  height: 14px;
}
body .page-details .product_right_wrap .product_details_container .product_main_info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
body .page-details .product_right_wrap .product_details_container .product_main_info .title_review {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
}
body .page-details .product_right_wrap .product_details_container .product_main_info .title_review .product_name {
  font-size: 1.75rem;
  font-weight: 700;
}
body .page-details .product_right_wrap .product_details_container .product_main_info .title_review a .review_box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
}
body .page-details .product_right_wrap .product_details_container .product_main_info .title_review a .review_box .review_stars {
  display: flex;
  gap: 2px;
}
body .page-details .product_right_wrap .product_details_container .product_main_info .title_review a .review_box .review_stars svg {
  width: 14px;
  height: 14px;
}
body .page-details .product_right_wrap .product_details_container .product_main_info .title_review a .review_box .review_number {
  font-weight: 500;
  font-size: 0.625rem;
}
body .page-details .product_right_wrap .product_details_container .product_main_info .like_share_btn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}
body .page-details .product_right_wrap .product_details_container .product_main_info .like_share_btn .like_btn #like_icn {
  display: none;
}
body .page-details .product_right_wrap .product_details_container .product_main_info .like_share_btn .like_btn #like_icn:checked + label {
  background-image: url(../image/like_active.svg);
}
body .page-details .product_right_wrap .product_details_container .product_main_info .like_share_btn .like_btn label {
  background-image: url(../image/like_unchecked.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
}
body .page-details .product_right_wrap .product_details_container .product_main_info .like_share_btn .share_btn svg {
  width: 24px;
  height: 24px;
}
body .page-details .product_right_wrap .product_details_container .product_main_price {
  font-weight: 700; /* bold */
  line-height: 100%;
  letter-spacing: -0.02em;
  font-size: 1.125rem; /* 18px */
  border-bottom: 1px solid #F5F5F5;
  padding: 20px 0;
}
body .page-details .product_right_wrap .product_details_container #orderFrm {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .color_select {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .color_select .section_name {
  line-height: 100%;
  letter-spacing: -0.02em;
  font-size: 0.875rem; /* 14px */
}
body .page-details .product_right_wrap .product_details_container #orderFrm .color_select .color_btn_box {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .color_select .color_btn_box .color_btn {
  width: 62px;
  height: 62px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .color_select .color_btn_box .color_btn1 {
  background-image: url(../image/detail_small_001.png);
}
body .page-details .product_right_wrap .product_details_container #orderFrm .color_select .color_btn_box .color_btn2 {
  background-image: url(../image/detail_small_002.png);
}
body .page-details .product_right_wrap .product_details_container #orderFrm .color_select .color_btn_box .color_btn3 {
  background-image: url(../image/detail_small_003.png);
}
body .page-details .product_right_wrap .product_details_container #orderFrm .size_select {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .size_select .section_name {
  line-height: 100%;
  letter-spacing: -0.02em;
  font-size: 0.875rem; /* 14px */
}
body .page-details .product_right_wrap .product_details_container #orderFrm .size_select .size_options {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .size_select .size_options .size_btn {
  font-size: 0.75rem;
  padding: 10px 20px;
  border-radius: 5px;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .size_select .size_options .unavailable_size {
  font-size: 0.75rem;
  padding: 10px 20px;
  background-color: #F5F5F5;
  color: #A0A0A0;
  border-radius: 5px;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .size_select .size_options .active_size {
  font-size: 0.75rem;
  padding: 10px 20px;
  border: 2px solid #CF0A2C;
  border-radius: 5px;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .linked_product_box {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .linked_product_box .section_name {
  line-height: 100%;
  letter-spacing: -0.02em;
  font-size: 0.875rem; /* 14px */
}
body .page-details .product_right_wrap .product_details_container #orderFrm .linked_product_box .linked_products {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .linked_product_box .linked_products a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  width: 62px;
  height: 62px;
  display: inline-block;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .linked_product_box .linked_products .linked_product1 {
  background-image: url(../image/linked_001.png);
}
body .page-details .product_right_wrap .product_details_container #orderFrm .linked_product_box .linked_products .linked_product2 {
  background-image: url(../image/linked_002.png);
}
body .page-details .product_right_wrap .product_details_container #orderFrm .linked_product_box .linked_products .linked_product3 {
  background-image: url(../image/linked_003.png);
}
body .page-details .product_right_wrap .product_details_container #orderFrm .pickup_option #pickup {
  display: none;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .pickup_option #pickup:checked + label {
  background-repeat: no-repeat;
  background-size: 18px;
  line-height: 18px;
  background-image: url(../image/checked_radio.svg);
}
body .page-details .product_right_wrap .product_details_container #orderFrm .pickup_option #pickup {
  /* checked */
}
body .page-details .product_right_wrap .product_details_container #orderFrm .pickup_option label {
  background-repeat: no-repeat;
  background-size: 18px;
  line-height: 18px;
  padding-left: 25px;
  background-image: url(../image/unchecked_radio.svg); /* unchecked */
}
body .page-details .product_right_wrap .product_details_container #orderFrm .final_order_box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  border-bottom: 1px solid #F5F5F5;
  padding: 20px 0;
  border-top: 1px solid #F5F5F5;
  display: none; /* JS */
}
body .page-details .product_right_wrap .product_details_container #orderFrm .final_order_box .final_order_info_box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .final_order_box .final_order_info_box .selected_options {
  font-size: 0.938rem;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .final_order_box .final_order_info_box .selected_options .selected_color {
  position: relative;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .final_order_box .final_order_info_box .selected_options .selected_color::after {
  content: "/";
  display: inline-block;
  margin: 0 5px;
  font-size: 0.938rem;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .final_order_box .final_order_info_box .qnt_price_box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .final_order_box .final_order_info_box .qnt_price_box .input_box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 109px;
  height: 36px;
  border: 2px solid #F5F5F5;
  border-radius: 5px;
  padding: 10px;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .final_order_box .final_order_info_box .qnt_price_box .input_box #order_num {
  width: 100%;
  text-align: center;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .final_order_box .final_order_info_box .qnt_price_box .final_price {
  font-size: 1.125rem;
  width: 120px;
  text-align: right;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .total_price_box {
  border-bottom: 1px solid #F5F5F5;
  padding: 20px 0;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .total_price_box .total_info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .total_price_box .total_info .total_text {
  font-weight: 700;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .total_price_box .total_info .total_price {
  font-weight: 700;
  font-size: 1.125rem;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .total_price_box .order_btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .total_price_box .order_btn .cart_button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  line-height: 26px;
  width: 150px;
  height: 60px;
  padding: 10px 20px;
  border: 2px solid #A0A0A0;
  border-radius: 5px;
}
body .page-details .product_right_wrap .product_details_container #orderFrm .total_price_box .order_btn .buy_button {
  width: 220px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #CF0A2C;
  color: #fff;
}
body .page-details .product_right_wrap .product_details_container .order_info .order_info_list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
body .page-details .product_right_wrap .product_details_container .order_info .order_info_list li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body .page-details .product_right_wrap .product_details_container .order_info .order_info_list li .left_icon_txt {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
body .page-details .product_right_wrap .product_details_container .order_info .order_info_list li .left_icon_txt svg {
  width: 24px;
  height: 24px;
}
body .page-details .product_right_wrap .product_details_container .order_info .order_info_list li svg {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1250px) {
  body .page-home {
    padding: 0 30px;
  }
  /* Tablet 1 row banner */
  body .page-home .main_bnr_swiper_box #main_bnr_swiper .swiper-wrapper .slide1 {
    background-image: url(../image/tablet_banner_001.jpg);
  }
  body .page-home {
    /* Tablet 2 row age */
  }
  body .page-home body .page-home .shop_by_age .age_wrap .model_img {
    width: 409px;
    height: 573px;
  }
  body .page-home body .page-home .shop_by_age .age_wrap #age_swiper {
    width: 100%;
  }
  body .page-home {
    /* Tablet Style Carousel */
  }
  body .page-home body .page-home .style_carousel .bnr_wrap {
    padding: 20px;
    width: 100%;
    background-image: url(../image/stylecarousel_banner_tablet.jpg);
  }
  body .page-home body .page-home .style_carousel .bnr_wrap p {
    font-size: 1.563rem;
  }
  body .page-home body .page-home .style_carousel .small_product {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
  }
  body .page-home {
    /* Tablet PlayGround Shoe */
  }
  body .page-home body .page-home .playground_shoe .bnr_wrap span {
    font-size: 1.5rem;
  }
  body .page-home body .page-home .playground_shoe .bnr_wrap span em {
    font-size: 1.6rem;
  }
  body .page-home {
    /* Tablet Find Their Style */
  }
  body .page-home body .page-home .find_their_style .find_their_style_wrap {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
  }
  body .page-home body .page-home .find_their_style .find_their_style_wrap .style_filters {
    width: auto;
  }
  body .page-home body .page-home .find_their_style .find_their_style_wrap .style_filters .style_filters_list {
    display: flex;
    flex-flow: row nowrap;
    padding: 15px;
  }
  body .page-home body .page-home .find_their_style .card_content_wrap .card_content .style_card_row:first-child .style_cards:last-child {
    display: none;
  }
  body .page-home body .page-home .find_their_style .card_content_wrap .card_content .style_card_row:last-child .style_cards:last-child {
    display: none;
  }
  body .page-home {
    /* Stores */
  }
  body .page-home body .our_stores .stores_wrap .store h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    text-align: center;
    line-height: 130%;
    letter-spacing: -0.02em;
    font-size: 2.25rem;
    color: #fff;
    font-family: "Noto Serif KR";
  }
  body .page-home {
    /* Footer */
  }
  body .page-home body footer {
    margin: 0 auto;
  }
  body .page-home body footer .footer_top {
    width: 100%;
    max-width: 1024px;
  }
  body .page-home body footer .footer_btm {
    /* @include flex-col;
    justify-content: flex-start;
    align-items: center; */
  }
}
@media screen and (max-width: 1024px) {
  body header {
    height: 36px;
    padding: 10px;
  }
  body header .left_gnb h1 {
    width: 38px;
    height: 28px;
    display: block;
  }
  body header .left_gnb h1 img {
    width: 100%;
  }
  body header .left_gnb > a {
    display: none;
  }
  body header .right_gnb {
    width: max-content;
    gap: 10px;
  }
  body header .right_gnb a svg {
    width: 12px;
    height: 12px;
  }
  body .page-home {
    max-width: 1024px;
    padding: 0 15px;
  }
  body .page-home .main_bnr_swiper_box #main_bnr_swiper {
    height: 410px;
    width: 100%;
    max-width: 849px;
  }
  body .page-home .shop_by_age h1 a {
    font-size: 1.25rem; /* 20px */
    font-weight: 700; /* bold */
    line-height: 100%;
    letter-spacing: -0.02em;
  }
  body .page-home .shop_by_age .age_btn button {
    font-size: 0.75rem;
  }
  body .page-home .shop_by_age .age_wrap {
    display: flex;
    flex-flow: column nowrap;
  }
  body .page-home .shop_by_age .age_wrap .model_img {
    width: 100%;
    height: 573px;
  }
  body .page-home .shop_by_age .age_wrap #age_swiper {
    width: 100%;
  }
  body .page-home .shop_by_age .age_wrap #age_swiper .swiper-wrapper .product_card .product_info .product_title {
    font-size: 0.875rem;
    font-weight: 500;
  }
  body .page-home .shop_by_age .age_wrap #age_swiper .swiper-wrapper .product_card .product_info .product_price {
    font-size: 0.875rem;
    font-weight: 700;
  }
  body .page-home .shop_by_age .age_wrap #age_swiper .swiper-wrapper .product_card .product_info .product_size {
    font-size: 0.625rem;
    font-weight: normal;
  }
  body .page-home .style_carousel .bnr_wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url(../image/mobile_carousel_banner.jpg);
  }
  body .page-home .style_carousel .bnr_wrap a {
    width: calc(25% - 15px);
  }
  body .page-home .style_carousel .bnr_wrap a img {
    height: 100%;
    object-fit: cover;
  }
}

/*# sourceMappingURL=main.css.map */
