@use './common.scss' as *;
body {
    .page-details {
        @include margin-auto;
        @include width1500;
        @include flex-row;
        padding-bottom: 100px;
        .product_left_wrap {
            width: 890px;
            .product_image_container {
                @include flex-row;
                justify-content: center;
                align-items: flex-start; gap: 20px;
                .product_thumbnail {
                    @include flex-col;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 5px;
                    .thumbnail_img {
                        @include background_img;
                        width: 100px; height: 100px;
                    }
                    .thumbnail1 {background-image: url(../image/product_thum_001.png);}
                    .thumbnail2 {background-image: url(../image/product_thum_002.png);}
                    .thumbnail3 {background-image: url(../image/product_thum_003.png);}
                    .thumbnail4 {background-image: url(../image/product_thum_004.png);}
                    .thumbnail5 {background-image: url(../image/product_thum_005.png);}
                }
                .product_big_img {
                    width: 580px; height: 580px;
                    @include background_img;
                    .product_main_img {
                        width: 100%; height: 100%;
                        background-image: url(../image/product_thum_001.png);}
                }
            }
            .product_info_container {
                .sticky_menu {
                    @include flex-row;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                    margin-top: 30px;
                    background-color: #fff;
                    width: 90%; height: 52px;
                    position: sticky; top: 100px; /* надо перепроверить как это работает возможно проблема в родителе */
                    a {
                        text-align: center;
                        padding: 10px 0;
                        width: 200px;
                        font-size: $size14;
                        &:hover {border-bottom: 2px solid black;}
                    }
                    .product_link {}
                    .size_link {}
                    .review_link {}
                    .recommend_link {}
                }
                .product_info {
                    width: 80%; margin: 0 auto;
                    padding-bottom: 100px;
                    .info_details_img {
                        background-image: url(../image/info_details.png);
                        background-position: top;
                        background-repeat: no-repeat;
                        background-size: contain;
                        height: 8500px;
                    }
                }
                .product_size {
                    width: 80%; margin: 0 auto;
                    padding-bottom: 100px;
                    .size_details_img {
                        background-image: url(../image/size_info.png);
                        background-position: top;
                        background-repeat: no-repeat;
                        background-size: contain;
                        height: 1200px;
                    }
                }
            }
        }
        .product_right_wrap {
            width: calc(100% - (890px + 30px));
            .product_details_container {
                position: sticky;
                top: 120px;
                @include flex-col;
                gap: 20px;
                height: 80vh; overflow-y: auto;
                padding-right: 50px;
                &::-webkit-scrollbar {width: 4px;}
                &::-webkit-scrollbar-thumb {
                    background: #E2E2E2;
                    border-radius: 4px;
                    &:hover {background: rgba($color: #CF0A2C, $alpha: 0.3);}
                }
                &::-webkit-scrollbar-track {
                    background: #f5f5f5;
                    border-radius: 4px;
                }
                .path {
                    @include flex-row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 5px;
                    a {
                        font-size: $size13;
                        font-weight: $light;
                        color: #7E7E7E;
                        position: relative;
                        &:nth-child(2) {padding: 0 10px;}
                        &:nth-child(2)::before {
                            display: block;
                            position:  absolute;
                            content: '>';
                            top: 0;
                            left: 0; right: auto;
                            color: #7E7E7E;
                            font-size: $size13;
                            font-weight: $light;
                        }
                        &:nth-child(2)::after {
                            display: block;
                            position:  absolute;
                            content: '>';
                            top: 0;
                            right: 0; left: auto;
                            color: #7E7E7E;
                            font-size: $size13;
                            font-weight: $light;
                        }
                    }
                    
                    
                }
                .membership_info {
                    @include flex-row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 6px;
                    .membership_icon {width: 22px; height: 10px;}
                    .membership_text {
                        font-size: $size11;
                        font-weight: $light;
                        color: #696969;
                    }
                    .popup_icon {width: 14px; height: 14px;}
                }
                .product_main_info {
                    @include flex-row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 25px;
                    .title_review {
                        @include flex-row;
                        align-items: center;
                        gap: 20px;
                        .product_name {
                            font-size: $size28;
                            font-weight: $bold;
                        }
                        a {
                            .review_box {
                                @include flex-row;
                                justify-content: flex-start;
                                align-items: center;
                                gap: 3px;
                                .review_stars {
                                    display: flex; gap: 2px;
                                    svg {width: 14px; height: 14px;}
                                }
                                .review_number {
                                    font-weight: $medium;
                                    font-size: $size10;
                                }
                            }
                        }
                    }
                    .like_share_btn {
                        @include flex-row;
                        align-items: center; gap: 10px;
                        .like_btn {
                            #like_icn {
                                display: none;
                                &:checked+label {background-image: url(../image/like_active.svg);}
                            }
                            label {
                                background-image: url(../image/like_unchecked.svg);
                                background-repeat: no-repeat;
                                width: 24px;
                                height: 24px;
                                display: inline-block;
                                
                            }
                            
                        }
                        .share_btn {
                            svg {width: 24px; height: 24px;}
                        }
                    }
                }
                .product_main_price {
                    @include product_title;
                    @include break-line;
                }
                #orderFrm {
                    @include flex-col;
                    gap: 20px;
                    .color_select {
                        @include flex-col;
                        gap: 20px;
                        .section_name {@include section_name;}
                        .color_btn_box {
                            @include flex-row;
                            gap: 15px;
                            .color_btn {
                                width: 62px; height: 62px;
                                border-radius: 5px;
                                @include background_img;
                            }
                            .color_btn1 {background-image: url(../image/detail_small_001.png);}
                            .color_btn2 {background-image: url(../image/detail_small_002.png);}
                            .color_btn3 {background-image: url(../image/detail_small_003.png);}
                        }
                    }
                    .size_select {
                        @include flex-col;
                        gap: 20px;
                        .section_name {@include section_name;}
                        .size_options {
                            @include flex-row;
                            gap: 15px;
                            justify-content: flex-start;
                            align-items: center;
                            .size_btn {@include size_btn_unact;}
                            .unavailable_size {@include size_btn_unav;}
                            .active_size {@include size_btn_selected;}
                        }
                    }
                    .linked_product_box {
                        @include flex-col;
                        gap: 20px;
                        .section_name {@include section_name;}
                        .linked_products {
                            @include flex-row;
                            gap: 15px;
                            a {
                                @include background_img;
                                border-radius: 5px;
                                width: 62px; height: 62px;
                                display: inline-block;
                            }
                            .linked_product1 {background-image: url(../image/linked_001.png);}
                            .linked_product2 {background-image: url(../image/linked_002.png);}
                            .linked_product3 {background-image: url(../image/linked_003.png);}
                        }

                    }
                    .pickup_option {
                        #pickup {
                            display: none;
                            &:checked+label {
                                background-repeat: no-repeat;
                                background-size: 18px;
                                line-height: 18px;
                                background-image: url(../image/checked_radio.svg)
                            }/* checked */
                        }
                        label {
                            background-repeat: no-repeat;
                            background-size: 18px;
                            line-height: 18px;
                            padding-left: 25px;
                            background-image: url(../image/unchecked_radio.svg); /* unchecked */
                        }
                    }
                    .final_order_box {
                        @include flex-col;
                        justify-content: center;
                        align-items: flex-end;
                        gap: 20px;
                        @include break-line;
                        border-top: 1px solid #F5F5F5;
                        display: none;/* JS */
                        .close_btn {}
                        .final_order_info_box {
                            @include flex-row;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            .selected_options {
                                font-size: $size15;
                                .selected_color {
                                    position: relative;
                                    &::after {
                                        content: "/";
                                        display: inline-block;
                                        margin: 0 5px;
                                        font-size: $size15;
                                    }
                                }
                                .selected_size {}
                            }
                            .qnt_price_box {
                                @include flex-row;
                                justify-content: space-between;
                                align-items: center;
                                gap: 30px;
                                .input_box {
                                    @include flex-row;
                                    justify-content: space-between;
                                    align-items: center; gap: 5px;
                                    width: 109px; height: 36px;
                                    border: 2px solid #F5F5F5;
                                    border-radius: 5px;
                                    padding: 10px;
                                    
                                    .minus_btn {}
                                    #order_num {
                                        width: 100%;
                                        text-align: center;
                                    }
                                    .plus_btn {}
                                }
                                .final_price {
                                    font-size: $size18;
                                    width: 120px;
                                    text-align: right;
                                }
                            }
                        }
                    }
                    .total_price_box {
                        @include break-line;
                        .total_info {
                            @include flex-row;
                            justify-content: space-between;
                            align-items: center;
                            .total_text {
                                font-weight: $bold;
                            }
                            .total_price {
                                font-weight: $bold;
                                font-size: $size18;
                            }
                        }
                        .order_btn {
                            @include flex-row;
                            justify-content: center;
                            align-items: center;
                            gap: 30px;
                            padding: 20px 0;
                            .cart_button {
                                @include flex-row;
                                justify-content: center;
                                align-items: center;
                                gap: 10px;
                                line-height: 26px;
                                @include cart_btn}
                            .buy_button {@include buy_btn}
                        }
                    }
                }
                .order_info {
                    .order_info_list {
                        @include flex-col;
                            justify-content: center;
                            align-items: flex-start;
                            gap: 20px;
                        li {
                            @include flex-row;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            .left_icon_txt {
                                @include flex-row;
                                gap: 10px;
                                justify-content: flex-start;
                                align-items: center;
                                svg {width: 24px; height: 24px;}
                                .info_text {}
                            }
                            svg {width: 24px; height: 24px;}
                        }
                    }
                }
            }
        }
    }
}